.searchBarContainer {
    display: flex;
    background-color: #2A3457;
    border-radius: 50px;
    width: 35%;
    height: 45px;
}

.searchBarContainer:focus-within {
    outline: 2px solid lightblue;
}

input{
    background-color: #2A3457;
    text-align: center;
    border: none;
    border-radius: 50px;
    flex-grow: 1;
    color: white;
    outline: none;
}

.aSearchBar {
    background-color: transparent;
    margin: 0px 10px 0px 10px;
    border: none;
    background-size: cover;
}

.aSearchBar img {
    border-radius: 50px;
}

.aSearchBar img:hover {
    background-color: gray;
    cursor: url("../assets/yodaLightSaber.png"), pointer;
}