.team-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  
  .team-member {
    text-align: center;
    margin: 20px;
  }