
.planetsContainer {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;

    display: grid;
    grid-row-gap: 60px;
}

.planetsGroup {
    display: grid;
    padding:2% 2% 1% 2%;

    grid-template-columns: repeat(5, auto);
    background-color: rgba(137, 137, 137, 0.418);
    border-radius: 20px;

}


.planetsGroup>div>h2{
    text-align: center;
}
.planetsContainer>div {
    display: flex; /* Utiliser flexbox pour aligner les éléments */
    flex-direction: row; /* Disposer les éléments en colonne */
    width: fit-content;
    margin: auto;
    gap:50px;
    justify-content: center; /* Centrer verticalement les éléments */
}
/* Paramètres des Images de chaque planète */
.planetImage{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    
}
.fanPlanet >a >img{
    filter: drop-shadow(2px 2px 25px rgb(0, 102, 255));

    
}



body {
    background:  #04071b;
    background-size: 400% 400%;

    margin: 0;
    height: 100%;
}

h2 {
    color:white;
}