.planetsContainer {
    margin-top: 100px;
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(5, auto);
}
.fanPlanet{
    color:goldenrod;
}

.planetImage{
    width: 200px;
    height: 200px;
}

  
body {
    margin: 10px;
}