.planetsContainer {
    margin-top: 100px;
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-row-gap: 60px;
    justify-items: center;
    align-items: center; 
}

.planetImage{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}



body {
    background:  #04071b;
    background-size: 400% 400%;


    margin: 0;
    height: 100%;
}